$primary-color: #de641a;

@mixin rgba-background($hexcolor, $opacity) {
  background-color: $hexcolor; /* fallback */
  background-color: rgba($hexcolor, $opacity); 
}

body {
  color: #333;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

#layout, .header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.header-wrapper {
  background: #eaeaea;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-top: 1px;
}

.page-title, .sidebar-inner {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  padding-top: 8px;
  z-index: 1;
}
.page-title {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
}

.header-inner, .content-inner, .footer-inner, .sidebar .sidebar-inner {
  margin-left: 1em;
}
.header-inner, .content-inner, .footer-inner {
  margin-right: 1em;
}

.header-inner, .page-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.association .menu-link {
  display: inline-block;
  margin-left: .5em;
  vertical-align: top;
}

.sidebar-menu {
  margin-top: 2em;
}
.pure-menu-link {
  text-overflow: ellipsis;
  overflow: hidden;

  &:hover, &:focus {
    box-sizing: border-box;
    color: #333;
    display: inline-block;
    min-width: 100%;
    overflow: visible;
    text-decoration: none;
  }
}
.header {
  .pure-menu {
    margin-bottom: -1px;
    padding: 0;
  }
  .pure-menu-list {
    margin: 0 1em;
  }
  .pure-menu-item {
    border: 1px solid transparent;
  }
  .pure-menu-selected {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom-color: #fff
  }
  .pure-menu-link:hover,
  .pure-menu-link:focus {
    background: #fff;
    color: #333;
  }
  .pure-menu-selected > .pure-menu-link,
  .pure-menu-selected .pure-menu-link:hover,
  .pure-menu-selected .pure-menu-link:focus {
    background: inherit;
  }
}

.article-layout {
  display: flex;
  flex-wrap: wrap;
  margin: 1em .5em;
}
.article-content, .article-sidebar {
  margin: 0 .5em;
}
.article-content {
  flex: 10 1 250px;
}
.article-sidebar {
  flex: 1 1 150px;
  order: -1;
}
.article-content h1 {
  margin-top: 0;
}

.social-menu {
  width: 300px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto; /* centered */

  .pure-menu-link {
    padding: .5em;

    &:hover, &:focus {
      color: $primary-color;
      background: transparent;    
    }
  }
}

.breadcrumbs {
  padding-top: .5em;

  .pure-menu-link {
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }
}

.footer {
  border-top: 1px solid #ddd;
  margin-top: 1em;
  margin-bottom: 2.5em;
  text-align: center;
}

.phills-menu-list {
  list-style-type: none;
  margin: .5em 0;
  padding: 0;
}
.phills-menu-item {
  display: inline-block;
  padding: 0 .5em;
  margin: .25em 0;
}
.phills-menu-item + .phills-menu-item {
  border-left: 1px solid #000;
}

.copyright {
  color: #999;
}

.site-title {
  margin: .5em 0;

  &, a {
    color: #333;
    text-decoration: none;  
  }
  em {
    font-style: normal;
    color: $primary-color;
  }

  h1, p {
    margin: 0;
    margin-bottom: .25em;
  }

  @media screen and (max-width: 25em) {
    p {
      font-size: 3.5vw;
    }
  }
}

#layout {
  line-height: 1.2;
}
.page-title, .sidebar .sidebar-inner {
  margin-top: 24px; /* 1.5em */
  margin-bottom: 0;
}
.page-title h1 {
  margin: 0;
}
h2 {
  margin-top: 16px; /* 1em */
  margin-bottom: 0;
}
p, figure, .highlight, .tahdah-badge {
  margin-top: 8px; /* .5em */
  margin-bottom: 0;
}
figure.full {
  margin-left: 0;
  margin-right: 0;
}


h2 > small {
  font-weight: normal;
  float: right;
  margin-left: .5em;
  line-height: 1.7;
  color: #999;
}
h2 + p {
  clear: right;
}

.chroma {
  padding: .5em;
  line-height: 125%;
  margin: 0;
}

.polaroid {
  background: #ffffff;
  border-color: #eee;
  border-style: solid;
  border-width: 1px;
  margin: 0 auto; /* centered */

  max-width: 100%;
  box-sizing: border-box;
}

a.tag {
  display: inline-block;
  background: $primary-color;
  color: white;
  padding: 2px 4px;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  margin-top: 1em;
}
.tile {
  display: inline-block;
  position: relative;
  margin: 0;

  img {
    width: 100%;
  }
  :link img {
    opacity: .9;
  }
  :hover img, &:hover img {
    opacity: 1;
  }

  figcaption {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .5em .2em;
    @include rgba-background($primary-color, 0.6);
    color: white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
    a {
      display: block;
      color: white;
    }
  }
}

.columns {
  @media (min-width: 600px) {
    column-count: 2;
    column-gap: 40px;
  }
  @media (min-width: 1024px) {
    column-count: 3;
    column-gap: 40px;
  }
}

@import 'monokai';