<div class="sidebar pure-u-1 pure-u-md-1-4">
  <div class="sidebar-inner">
    {{ partial "avatar" . }}

    <div class="pure-menu pure-menu-horizontal pure-menu-scrollable social-menu">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="https://www.facebook.com/sparks.phill" class="pure-menu-link"><i title="Facebook" class="fab fa-facebook fa-lg"></i></a></li>
        <li class="pure-menu-item"><a href="https://github.com/sparksp/" class="pure-menu-link"><i title="GitHub" class="fab fa-github fa-lg"></i></a></li>
        <li class="pure-menu-item"><a href="https://www.instagram.com/sparksphill/" class="pure-menu-link"><i title="Instagram" class="fab fa-instagram fa-lg"></i></a></li>
        <li class="pure-menu-item"><a href="https://twitter.com/PhillSparks" class="pure-menu-link"><i title="Twitter" class="fab fa-twitter fa-lg"></i></a></li>
      </ul>
    </div>

    <div class="pure-menu sidebar-menu">
      <ul class="pure-menu-list">
        {{- range where .Data.Pages ".Type" "experience-list" }}
          <li class="pure-menu-item"><a href="#{{ .Title | urlize }}" class="pure-menu-link">{{ .LinkTitle }}</a></li>
        {{- end }}
      </ul>
    </div>
  </div>
</div>

<div class="content pure-u-1 pure-u-md-3-4">
  <div class="content-inner">
    {{- range where .Data.Pages ".Type" "experience-list" }}
      <a name="{{ .Title | urlize }}"></a>
      {{- .Render "item" -}}
    {{- end }}
  </div>
</div>