
<meta itemprop="name" content="{{ .Title }}">
{{- if or .IsPage .IsHome }}
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta name="twitter:title" content="{{ .Title }}"/>
  <meta name="twitter:site" content="{{ .Site.Params.Twitter }}"/>
  {{- range .Resources.ByType "image" }}
    <meta property="og:image" content="{{ .Permalink }}" />
  {{- end }}
  {{- if not .Lastmod.IsZero }}
    <meta property="og:updated_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"/>
    <meta property="article:modified_time" content="{{ .Lastmod }}" />
  {{- end }}
{{- end }}
{{- if .Description }}
{{- $.Scratch.Set "description" .Description }}
{{- else }}{{ if .IsPage }}
{{- $.Scratch.Set "description" .Summary }}
{{- end }}{{ end }}
{{- if $.Scratch.Get "description" }}
  <meta name="description" content="{{ $.Scratch.Get "description" }}">
  <meta itemprop="description" content="{{ $.Scratch.Get "description" }}">
  {{- if or .IsPage .IsHome }}
    <meta property="og:description" content="{{ $.Scratch.Get "description" }}" />
    <meta name="twitter:description" content="{{ $.Scratch.Get "description" }}"/>
  {{- end }}
{{- end }}
{{- with .Keywords }}
  <meta itemprop="keywords" content="{{ delimit . ", " }}" />
{{- end }}
{{- if not .PublishDate.IsZero }}
  <meta itemprop="datePublished" content="{{ .PublishDate }}" />
  {{- if or .IsPage .IsHome }}
    <meta property="article:published_time" content="{{ .PublishDate }}" />
  {{- end }}
{{- end }}
{{- if .IsPage }}
  {{- with .Site.Title }}
    <meta property="og:site_name" content="{{ . }}" />
  {{- end }}
  {{- with .Site.Params.Facebook }}
    <meta property="article:author" content="https://www.facebook.com/{{ . }}" />
  {{- end }}
  <meta property="article:section" content="{{ .CurrentSection.Title }}" />
{{- end }}
{{- range .Params.tags }}
  <meta property="article:tag" content="{{ . }}" />
{{- end }}
{{- if gt .WordCount 0 }}
<meta itemprop="wordCount" content="{{ .WordCount }}">
{{- end }}