{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
<div class="page services">
    {{- /* Title */ -}}
    <h2 class="single-title animate__animated animate__pulse animate__faster">
        {{- .Params.Title | default (T .Section) | default .Section -}}
    </h2>

    <div class="services-list">
    {{- range .Pages.GroupBy "Weight" "desc" -}}
        {{- range .Pages.ByTitle -}}
            {{- .Render "summary" -}}
        {{- end -}}
    {{- end -}}
    </div>
</div>
{{- end -}}
