ErrorDocument 404 /404.html
ErrorDocument 403 /404.html
Options -Indexes

RewriteEngine On
RewriteRule ^blog/2007/04/14/css_for_poker_players/?$ http://phills.me.uk/post/css_for_poker_players/ [redirect=permanent,last]
RewriteRule ^blog/2008/01/23/php_late_static_bindings/?$ http://phills.me.uk/post/php_late_static_bindings/ [redirect=permanent,last]
RewriteRule ^blog/2008/04/13/how_to_customise_your_ssh_config/?$ http://phills.me.uk/post/how_to_customise_your_ssh_config/ [redirect=permanent,last]
RewriteRule ^blog/2008/04/13/how_to_stop_iphoto_from_opening_automatically/?$ http://phills.me.uk/post/how_to_stop_iphoto_from_opening_automatically/ [redirect=permanent,last]
RewriteRule ^blog/2008/08/26/curl_error_26/?$ http://phills.me.uk/post/curl_error_26/ [redirect=permanent,last]
RewriteRule ^pb/01/?$ http://phills.me.uk/snip/tvrenamerrc/ [redirect=permanent,last]
RewriteRule ^pb/02/?$ http://phills.me.uk/snip/dynamic-cacher/ [redirect=permanent,last]
RewriteRule ^pb/03/?$ http://phills.me.uk/snip/new-terminal/ [redirect=permanent,last]
RewriteRule ^pb/04/?$ http://phills.me.uk/snip/factor-test/ [redirect=permanent,last]
RewriteRule ^pb/05/?$ http://phills.me.uk/snip/mp3-search/ [redirect=permanent,last]
RewriteRule ^pb/06/?$ http://phills.me.uk/snip/php-id/ [redirect=permanent,last]
RewriteRule ^pb/07/?$ http://phills.me.uk/snip/refitconf/ [redirect=permanent,last]
RewriteRule ^pb/08/?$ http://phills.me.uk/snip/related-content/ [redirect=permanent,last]
RewriteRule ^pb/09/?$ http://phills.me.uk/snip/new-item-alert/ [redirect=permanent,last]
RewriteRule ^pb/10/?$ http://phills.me.uk/snip/js-page-navigation/ [redirect=permanent,last]
RewriteRule ^pb/11/?$ http://phills.me.uk/snip/ssh-avahi-service/ [redirect=permanent,last]
RewriteRule ^pb/12/?$ http://phills.me.uk/snip/isync-reactor/ [redirect=permanent,last]
RewriteRule ^pb/13/?$ http://phills.me.uk/snip/htodo-user-script/ [redirect=permanent,last]
RewriteRule ^snips/1-tvrenamerrc/?$ http://phills.me.uk/snip/tvrenamerrc/ [redirect=permanent,last]
RewriteRule ^snips/10-js-page-navigation/?$ http://phills.me.uk/snip/js-page-navigation/ [redirect=permanent,last]
RewriteRule ^snips/11-ssh-avahi-service/?$ http://phills.me.uk/snip/ssh-avahi-service/ [redirect=permanent,last]
RewriteRule ^snips/12-isync-reactor/?$ http://phills.me.uk/snip/isync-reactor/ [redirect=permanent,last]
RewriteRule ^snips/13-htodo-user-script/?$ http://phills.me.uk/snip/htodo-user-script/ [redirect=permanent,last]
RewriteRule ^snips/2-dynamic-cacher/?$ http://phills.me.uk/snip/dynamic-cacher/ [redirect=permanent,last]
RewriteRule ^snips/3-new-terminal/?$ http://phills.me.uk/snip/new-terminal/ [redirect=permanent,last]
RewriteRule ^snips/4-factor-test/?$ http://phills.me.uk/snip/factor-test/ [redirect=permanent,last]
RewriteRule ^snips/5-mp3-search/?$ http://phills.me.uk/snip/mp3-search/ [redirect=permanent,last]
RewriteRule ^snips/6-php-id/?$ http://phills.me.uk/snip/php-id/ [redirect=permanent,last]
RewriteRule ^snips/7-refitconf/?$ http://phills.me.uk/snip/refitconf/ [redirect=permanent,last]
RewriteRule ^snips/8-related-content/?$ http://phills.me.uk/snip/related-content/ [redirect=permanent,last]
RewriteRule ^snips/9-new-item-alert/?$ http://phills.me.uk/snip/new-item-alert/ [redirect=permanent,last]
