{{- $item := . -}}
<article class="course-item">
    <a href="{{ .RelPermalink }}" class="course-item-link">
        {{- $image := $item.Params.featuredimage -}}
        {{- $description := $item.Title -}}
        {{- with $item.Resources.GetMatch "featured-image" -}}
            {{- $image = .RelPermalink -}}
            {{- $description = .Title -}}
        {{- end -}}
        {{- with $image -}}
            {{- dict "Src" . "Title" $item.Title "Alt" $description "Resources" $item.Resources | partial "plugin/image.html" -}}
        {{- end -}}
        <span class="course-title">
            <span class="text">{{- .Title -}}</span>
            
            {{- range where (site.RegularPages.RelatedTo ( keyVals "association" $item.Params.association )) "Section" "association" }}
                {{- range first 1 (.Resources.ByType "image") }}
                    {{- $image := . }}
                    {{- dict "Src" $image.Permalink "Title" $item.Title "Alt" $image.Title "Resources" $item.Resources | partial "plugin/image.html" -}}
                {{- end }}
            {{- end }}
        </span>
    </a>
</article>