<form name="contact" method="POST" data-netlify="true" class="pure-form pure-form-stacked">
    <fieldset>
        <legend>Send a message</legend>

        <div class="pure-control-group">
            <input type="text" required id="name" name="name" placeholder="Name" aria-label="Name" class="pure-input-1">
        </div>

        <div class="pure-control-group">
            <input type="email" required  id="email" name="email" placeholder="E-mail" aria-label="E-mail address" class="pure-input-1">
        </div>

        <div class="pure-control-group">
            <input type="tel" id="tel" name="tel" placeholder="Phone number" aria-label="Phone number" class="pure-input-1">
        </div>

        <div class="pure-control-group">
            <input type="text" required id="subject" name="subject" placeholder="Subject" aria-label="Subject" class="pure-input-1">
        </div>

        <div class="pure-control-group">
            <textarea required id="message" name="message" placeholder="Message" aria-label="Message" class="pure-input-1" rows="4"></textarea>
        </div>

        <div class="pure-control-group">
            <div data-netlify-recaptcha="true"></div>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Send</button>
        </div>
    </fieldset>
</form>