body {
  color: #333;
}

a {
  color: #de641a;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

#layout, .header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.header-wrapper {
  background: #eaeaea;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-top: 1px;
}

.page-title, .sidebar-inner {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  padding-top: 8px;
  z-index: 1;
}
.page-title {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
}

.header-inner, .content-inner, .footer-inner, .sidebar .sidebar-inner {
  margin-left: 1em;
}
.header-inner, .content-inner, .footer-inner {
  margin-right: 1em;
}

.header-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sidebar-menu {
  margin-top: 2em;
}
.pure-menu-link {
  text-overflow: ellipsis;
  overflow: hidden;
}
.pure-menu-link:hover,
.pure-menu-link:focus {
  box-sizing: border-box;
  color: #333;
  display: inline-block;
  min-width: 100%;
  overflow: visible;
  text-decoration: none;
}
.header .pure-menu {
  margin-bottom: -1px;
  padding: 0;
}
.header .pure-menu-list {
  margin: 0 1em;
}
.header .pure-menu-item {
  border: 1px solid transparent;
}
.header .pure-menu-selected {
  background: #fff;
  border: 1px solid #ddd;
  border-bottom-color: #fff
}
.header .pure-menu-link:hover,
.header .pure-menu-link:focus {
  background: #fff;
  color: #333;
}
.header .pure-menu-selected > .pure-menu-link,
.header .pure-menu-selected .pure-menu-link:hover,
.header .pure-menu-selected .pure-menu-link:focus {
  background: inherit;
}

.article-layout {
  display: flex;
  flex-wrap: wrap;
  margin: 1em .5em;
}
.article-content, .article-sidebar {
  margin: 0 .5em;
}
.article-content {
  flex: 10 1 250px;
}
.article-sidebar {
  flex: 1 1 150px;
  order: -1;
}
.article-content h1 {
  margin-top: 0;
}

.social-menu {
  width: 300px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto; /* centered */
}
.social-menu .pure-menu-link {
  padding: .5em;
}
.social-menu .pure-menu-link:hover,
.social-menu .pure-menu-link:focus {
  color: #de641a;
  background: transparent;
}

.breadcrumbs {
  padding-top: .5em;
}
.breadcrumbs .pure-menu-link {
  padding: 0;
}
.breadcrumbs .pure-menu-link:hover {
  background-color: transparent;
}

.footer {
  border-top: 1px solid #ddd;
  margin-top: 1em;
  margin-bottom: 2.5em;
  text-align: center;
}

.phills-menu-list {
  list-style-type: none;
  margin: .5em 0;
  padding: 0;
}
.phills-menu-item {
  display: inline-block;
  padding: 0 .5em;
  margin: .25em 0;
}
.phills-menu-item + .phills-menu-item {
  border-left: 1px solid #000;
}

.copyright {
  color: #999;
}

.site-title, .site-title a {
  color: #333;
  text-decoration: none;
}
.site-title em {
  font-style: normal;
  color: #de641a;
}

#layout {
  line-height: 1.2;
}
.page-title, .sidebar .sidebar-inner {
  margin-top: 24px; /* 1.5em */
  margin-bottom: 0;
}
h2 {
  margin-top: 16px; /* 1em */
  margin-bottom: 0;
}
p, figure, .highlight, .tahdah-badge {
  margin-top: 8px; /* .5em */
  margin-bottom: 0;
}
figure.full {
  margin-left: 0;
  margin-right: 0;
}


h2 > small {
  font-weight: normal;
  float: right;
  margin-left: .5em;
  line-height: 1.7;
  color: #999;
}
h2 + p {
  clear: right;
}

.chroma {
  padding: .5em;
  line-height: 125%;
  margin: 0;
}

.polaroid {
  background: #ffffff;
  border-color: #eee;
  border-style: solid;
  border-width: 1px;
  margin: 0 auto; /* centered */

  max-width: 100%;
  box-sizing: border-box;
}

a.tag {
  display: inline-block;
  background: #de641a;
  color: white;
  padding: 2px 4px;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  margin-top: 1em;
}
.tile {
  display: inline-block;
  position: relative;
  margin: 0;
}
.tile img {
  width: 100%;
}

.tile :link img {
  opacity: .9;
}
.tile :hover img {
  opacity: 1;
}

.tile figcaption {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5em .2em;
  background-color: #de641a; /* fallback */
  background-color: rgba(222,100,26, .6);
  color: white;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 600px) {
  .columns {
    column-count: 2;
    column-gap: 40px;
  }
}
@media (min-width: 1024px) {
  .columns {
    column-count: 3;
    column-gap: 40px;
  }
}

/* Monokai */
/* Background */ .chroma { color: #f8f8f2; background-color: #272822 }
/* Error */ .chroma .err { color: #960050; background-color: #1e0010 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0 }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: 100%; overflow: auto; display: block }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc; display: block; width: 100% }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; display: block }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em }
/* Whitespace */ .chroma .w {}
/* Other */ .chroma .x {}
/* Escape */ .chroma .esc {}
/* Keyword */ .chroma .k { color: #66d9ef }
/* KeywordConstant */ .chroma .kc { color: #66d9ef }
/* KeywordDeclaration */ .chroma .kd { color: #66d9ef }
/* KeywordNamespace */ .chroma .kn { color: #f92672 }
/* KeywordPseudo */ .chroma .kp { color: #66d9ef }
/* KeywordReserved */ .chroma .kr { color: #66d9ef }
/* KeywordType */ .chroma .kt { color: #66d9ef }
/* Name */ .chroma .n { color: #a6e22e }
/* NameAttribute */ .chroma .na { color: #a6e22e }
/* NameBuiltin */ .chroma .nb {}
/* NameBuiltinPseudo */ .chroma .bp {}
/* NameClass */ .chroma .nc { color: #a6e22e }
/* NameConstant */ .chroma .no { color: #66d9ef }
/* NameDecorator */ .chroma .nd { color: #a6e22e }
/* NameEntity */ .chroma .ni {}
/* NameException */ .chroma .ne { color: #a6e22e }
/* NameFunction */ .chroma .nf { color: #a6e22e }
/* NameFunctionMagic */ .chroma .fm {}
/* NameLabel */ .chroma .nl {}
/* NameNamespace */ .chroma .nn {}
/* NameOther */ .chroma .nx { color: #a6e22e }
/* NameProperty */ .chroma .py {}
/* NameTag */ .chroma .nt { color: #f92672 }
/* NameVariable */ .chroma .nv {}
/* NameVariableClass */ .chroma .vc {}
/* NameVariableGlobal */ .chroma .vg {}
/* NameVariableInstance */ .chroma .vi {}
/* NameVariableMagic */ .chroma .vm {}
/* Literal */ .chroma .l { color: #ae81ff }
/* LiteralDate */ .chroma .ld { color: #e6db74 }
/* LiteralString */ .chroma .s { color: #e6db74 }
/* LiteralStringAffix */ .chroma .sa { color: #e6db74 }
/* LiteralStringBacktick */ .chroma .sb { color: #e6db74 }
/* LiteralStringChar */ .chroma .sc { color: #e6db74 }
/* LiteralStringDelimiter */ .chroma .dl { color: #e6db74 }
/* LiteralStringDoc */ .chroma .sd { color: #e6db74 }
/* LiteralStringDouble */ .chroma .s2 { color: #e6db74 }
/* LiteralStringEscape */ .chroma .se { color: #ae81ff }
/* LiteralStringHeredoc */ .chroma .sh { color: #e6db74 }
/* LiteralStringInterpol */ .chroma .si { color: #e6db74 }
/* LiteralStringOther */ .chroma .sx { color: #e6db74 }
/* LiteralStringRegex */ .chroma .sr { color: #e6db74 }
/* LiteralStringSingle */ .chroma .s1 { color: #e6db74 }
/* LiteralStringSymbol */ .chroma .ss { color: #e6db74 }
/* LiteralNumber */ .chroma .m { color: #ae81ff }
/* LiteralNumberBin */ .chroma .mb { color: #ae81ff }
/* LiteralNumberFloat */ .chroma .mf { color: #ae81ff }
/* LiteralNumberHex */ .chroma .mh { color: #ae81ff }
/* LiteralNumberInteger */ .chroma .mi { color: #ae81ff }
/* LiteralNumberIntegerLong */ .chroma .il { color: #ae81ff }
/* LiteralNumberOct */ .chroma .mo { color: #ae81ff }
/* Operator */ .chroma .o { color: #f92672 }
/* OperatorWord */ .chroma .ow { color: #f92672 }
/* Punctuation */ .chroma .p {}
/* Comment */ .chroma .c { color: #75715e }
/* CommentHashbang */ .chroma .ch { color: #75715e }
/* CommentMultiline */ .chroma .cm { color: #75715e }
/* CommentSingle */ .chroma .c1 { color: #75715e }
/* CommentSpecial */ .chroma .cs { color: #75715e }
/* CommentPreproc */ .chroma .cp { color: #75715e }
/* CommentPreprocFile */ .chroma .cpf { color: #75715e }
/* Generic */ .chroma .g {}
/* GenericDeleted */ .chroma .gd { color: #f92672 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr {}
/* GenericHeading */ .chroma .gh { color: #75715e }
/* GenericInserted */ .chroma .gi { color: #a6e22e }
/* GenericOutput */ .chroma .go {}
/* GenericPrompt */ .chroma .gp {}
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #75715e }
/* GenericTraceback */ .chroma .gt {}
